__pycache__/cooreader.cpython-35.pyc
__pycache__/point.cpython-36.pyc
__pycache__/pointsetmodel.cpython-36.pyc
__pycache__/pointslistview.cpython-36.pyc
__pycache__/cooreader.cpython-36.pyc
__pycache__
